<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsLoggingEnabled" value="True" />
    <add key="LoggingFileMaxSizeInMB" value="2" />
    <add key="LoggingPath" value="" />
    <add key="IsReleaseMode" value="false"/>

	<add key="IsEmailEnabled" value="False" />
	<add key="SMTP_Host" value="smtp.mailtrap.io" />
	<add key="SMTP_Port" value="25" />
	<add key="SMTP_Usr" value="e5ab82ed09cdf6" />
	<add key="SMTP_Pwd" value="5a39ae9a0cff29" />
	<add key="SMTP_From" value="alifbkn@gmail.com" />
	<add key="SMTP_To" value="alifbkn@gmail.com" />
	

  </appSettings>
  <connectionStrings>
    <add name="Constr1" connectionString="Data Source =LPCH-5CD7342X0Q; Initial Catalog =eDeliveryDb; Integrated Security=True;MultipleActiveResultSets=True" />
    <!--<add name="Constr1" connectionString="tfcWj6QMwy44U91BUg4NxDFH2eFjXCeQTbbLVn49yfNUm+QYVZ9mm5jCDlU0EiYoRjDL/jujDhnkG95MIP0egX/S0/eRp3S8pMmZHoPclNdruzRoNQcZrtDb2ijAkPC2TRbFgY22ova92/Yikymncv4vBff7iwID7aB8RuJj2y0=" />-->

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>